.bg-light-grey {
  background-color: #e0e0e0 !important;
}

.bg-little-more-grey{
  background-color: #d1d1d1 !important;
}

.icon-wrapper {
  position: relative;
  cursor: pointer;
}

.icon-wrapper img {
  width: 28px;
  height: 28px;
}

/* .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 8px;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
} */

.icon-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* Add this to your global CSS */
.hover-scale {
  transition: transform 0.2s ease;
}
.hover-scale:hover {
  transform: scale(1.05);
}

.hover-shadow {
  transition: box-shadow 0.2s ease;
}
.hover-shadow:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-hover tbody tr:hover {
  background-color: rgba(13, 110, 253, 0.05);
}

.transition-all {
  transition: all 0.3s ease;
}